@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient {
  background: linear-gradient(to right, #ff9600, #f44001);
  border-radius: 20px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 600px) {
  .filter-space-responsive {
    width: 100%;
    margin-top: 30%;
    border-radius: 20px 20px 0px 0px;
    padding: 5%;
  }
}
